<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>角色管理</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/role.html" id="search">
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-lg-2 col-sm-12 col-md-3">
				<input type="text" th:value="${param.key}" name="key" class="form-control" placeholder="关键字查询">
			</div>
			<div class="col-lg-2 col-sm-12 col-md-4">
				<input type="submit" value="查询" class="btn btn-default">
			</div>
		</div>
		<br>
		<table class="table table-hover">
			<tr>
				<th>id</th>
				<th>名称</th>
				<th>显示名称</th>
				<th>备注</th>
				<th>所属角色</th>
			</tr>
			<tr th:if="${size} < 1">
				<td colspan="5" class="text-center">暂无数据</td>
			</tr>
			<tr class="" th:each="role : ${roles}">
				<td><p th:text="${role.id}"></p></td>
				<td><p th:text="${role.name}"></p></td>
				<td><p th:text="${role.displayName}"></p></td>
				<td><p th:text="${role.introduce}"></p></td>
				<td><p th:text="${role.parent}"></p></td>
			</tr>
		</table>
		<hr>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<p th:text="'共'+${size}+'条'"></p>
			</div>
		</div>
	</div>
</form>
</body>
</html>