<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>动态建模</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-lg-4 col-sm-12 col-md-8">
			<input type="button" value="新增" class="btn btn-default">
			<input type="button" value="编辑" class="btn btn-default">
			<input type="button" value="删除" class="btn btn-default">
			<input type="button" value="刷新" class="btn btn-default">
		</div>
	</div>
	<br>
	<table class="table table-hover">
		<tr>
			<!--<th>id</th>-->
			<th>显示名称</th>
			<th>模块名称</th>
			<th>模块描述</th>
			<th>是否系统模块</th>
		</tr>
		<tr th:if="${size} < 1">
			<td colspan="5" class="text-center">暂无数据</td>
		</tr>
		<tr name="module" class="" th:each="table : ${tableList}" th:id="${table.properties.id}"  th:displayName="${table.properties.displayName}" ondblclick="dblclick(this)" onclick="selected(this)">
			<!--<td><p th:text="${table.properties.id}"></p></td>-->
			<td><p th:text="${table.properties.name}"></p></td>
			<td><p th:text="${table.properties.displayName}"></p></td>
			<td><p th:text="${table.properties.describe}"></p></td>
			<td><p th:text="${table.properties.isSys} == '1'?'是':'否'"></p></td>
		</tr>
	</table>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<p th:text="'共'+${size}+'条'"></p>
		</div>
	</div>
</div>
<script>
	// dblclick
	function dblclick(e) {
		// $(e).attr('id') 启动编辑
		// parent.getDm($(e).attr('id'),$(e).attr('name'),$(e).attr('displayName'))
		// console.log()
	}

	function selected(e) {
		$("[name='module']").removeClass("info");
		$(e).addClass('info')

	}
</script>
</body>
</html>