<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>动态建模</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<h4 >
			&nbsp;&nbsp;&nbsp;&nbsp;
			<span th:text="${entity.displayName}+'  '+${entity.name}"></span>
			&nbsp;&nbsp;
			<span th:text="'('+${entity.id}+')'"></span>
		</h4>
		<hr>
	</div>
	<!--菜单-->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#fieldInfo" aria-controls="fieldInfo" role="tab" data-toggle="tab">字段信息</a>
		</li>
		<li role="presentation" class="">
			<a href="#businessInfo" aria-controls="businessInfo" role="tab" data-toggle="tab">业务信息</a>
		</li>
		<li role="presentation" class="">
			<a href="#actionInfo" aria-controls="actionInfo" role="tab" data-toggle="tab">动作信息</a>
		</li>
	</ul>

	<br>
	<div class="tab-content">
		<!--字段信息start-->
		<div id="fieldInfo" class="tab-pane active">
			<div class="row">
				<div class="col-lg-4 col-sm-12 col-md-8">
					<input type="button" value="新增" class="btn btn-default">
					<input type="button" value="编辑" class="btn btn-default">
					<input type="button" value="删除" class="btn btn-default">
					<input type="button" value="刷新" class="btn btn-default">
				</div>
			</div>
			<br>
			<table class="table table-hover">
				<tr>
					<!--<th>id</th>-->
					<!--<th>所属库</th>-->
					<!--<th>所属表</th>-->
					<th>字段名</th>
					<th>字段显示名</th>
					<th>字段类型</th>
					<th>schema</th>
					<th>描述</th>
					<th>格式</th>

				</tr>
				<tr th:if="${size} < 1">
					<td colspan="6" class="text-center">暂无数据</td>
				</tr>
				<tr name="module" class="" th:each="field : ${fieldList}" th:id="${field.id}"
					ondblclick="dblclick(this)"
					onclick="selected(this)">
					<td><p th:text="${field.name}"></p></td>
					<td><p th:text="${field.displayAs}"></p></td>
					<td><p th:text="${field.type}"></p></td>
					<td><p th:text="${field.schemaAs}"></p></td>
					<td><p th:text="${field.description}"></p></td>
					<td><p th:text="${field.format}"></p></td>
				</tr>
			</table>
			<hr>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<p th:text="'共'+${size}+'条'"></p>
				</div>
			</div>
		</div>
		<!--字段信息end-->
		<div id="businessInfo" class="tab-pane">
			<h1>业务</h1>
		</div>
	</div>
</div>
<!-- 模态框（Modal）-->
<div class="modal fade bs-example-modal-lg" id="createUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 data-backdrop="false"
	 aria-hidden="false">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<p class="modal-title" id="myModalLabel">编辑字段</p>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="menuInfo">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="p_name" class="col-sm-2 control-label">内部名称</label>
								<div class="col-sm-8">
									<input id="p_name" type="text" class="form-control " disabled>
								</div>
							</div>
							<div class="form-group">
								<label for="p_displayAs" class="col-sm-2 control-label">外部名称</label>
								<div class="col-sm-8">
									<input id="p_displayAs" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="p_type" class="col-sm-2 control-label">数据类型</label>
								<div class="col-sm-8">
									<select name="p_type" class="form-control" id="p_type">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="p_schema" class="col-sm-2 control-label">schema</label>
								<div class="col-sm-8">
									<input id="p_schema" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group" id="_p_format">
								<label for="p_format" class="col-sm-2 control-label">格式设置</label>
								<div class="col-sm-8">
									<!--<input id="p_format" type="text" class="form-control">-->
									<select name="p_format" class="form-control" id="p_format">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="p_description" class="col-sm-2 control-label">描述</label>
								<div class="col-sm-8">
									<input id="p_description" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="p_length" class="col-sm-2 control-label">长度</label>
								<div class="col-sm-8">
									<input id="p_length" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="p_defaultValue" class="col-sm-2 control-label">默认值</label>
								<div class="col-sm-8">
									<input id="p_defaultValue" type="text" class="form-control">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// 显示新增或修改菜单的窗口
	function createUpShow(type) {

	}

	// 初始化页面
	$(function () {
		$('#_p_format').hide()
		$("#p_type").change(function () {
			var type = $(this).val()
			if (type == 'date') {
				dateFormats()
			} else {
				$('#_p_format').hide(50) // 隐藏日期格式字段
			}
		})
	})


	// dblclick
	function dblclick(e) {

		$.ajax({
			url: "/sys/getField/" + $(e).attr('id'),
			type: "POST",
			dataType: "json",
			success: function (data) {
				console.log(data)
				if (data.code = "1") {
					var field = data.result;
					$("#p_name").val(field.name);
					$("#p_displayAs").val(field.displayAs);
					$("#p_type").val(field.type);
					$("#p_format").val(field.format);
					$("#p_schema").val(field.schemaAs);
					$("#p_description").val(field.description);
					$("#p_length").val(field.length);
					$("#p_defaultValue").val(field.defaultValue);
					$("#p_format").val(field.format);
					$("#createUp").modal('show'); // 显示窗口
					types(field.type, field.format)
				} else {
					alert(data.msg)
				}
			}
		});
	}

	// 选中
	function selected(e) {
		$("[name='module']").removeClass("info");
		$(e).addClass('info')
	}

	// 加载日期格式
	function dateFormats(format) {
		$.ajax({
			url: "/sys/dateFormats",
			type: "POST",
			dataType: "json",
			success: function (data) {
				$('#_p_format').show(50) // 显示日期格式字段
				$('#p_format').html("")
				for (var i = 0; i < data.length; i++) {
					if (format == data[i].key) {
						$('#p_format').append("<option  selected value='" + data[i].key + "' >" + data[i].value + "</option>");
					} else {
						$('#p_format').append("<option value='" + data[i].key + "' >" + data[i].value + "</option>");
					}
				}

			}
		});
	}

	// 加载Type
	function types(type, format) {
		type = type == undefined ? '' : type;
		$.ajax({
			url: "/sys/types",
			type: "POST",
			dataType: "json",
			success: function (data) {
				$('#p_type').html("")
				for (var i = 0; i < data.length; i++) {
					if (type == data[i].key) {
						$('#p_type').append("<option selected  value='" + data[i].key + "' >" + data[i].value + "</option>");
					} else {
						$('#p_type').append("<option  value='" + data[i].key + "' >" + data[i].value + "</option>");
					}
					if (type === 'date') {
						dateFormats(format)
					}

				}

			}
		});
	}
</script>
</body>
</html>