<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>管理系统</title>
	<meta id="viewport" name="viewport"
		  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-treeview.js"></script>
	<script src="/js/bootstrap-tab.js"></script>
</head>
<body>

<!--<div id="top">-->
<!--<iframe src="/top.html"  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>-->
<!--</div>-->
<!--中部-->
<!--左侧菜单栏-->
<!--尾部-->
<!--头部-->
<style>
	body {
		padding-top: 50px;
	}

	.embed-responsive-16by9 {
		border: 1px #DDDDDD solid;
		height: 0px;
		padding-bottom: 0%;
	}

	.clarePd {
		padding: 0px;
	}

	.right-a{
		padding-left: 13px;
	}
	.tab-v{
		/*border: 1px red solid;*/
	}

</style>
<script>

	window.onload = function () {
		changeDivHeight();
	}
	//当浏览器窗口大小改变时，设置显示内容的高度
	window.onresize = function () {
		changeDivHeight();

	}

	function changeDivHeight() {
		var h = document.documentElement.clientHeight;//可见区域高度
		var ss = document.getElementsByClassName("embed-responsive-16by9")
		ss.item(0).style.height = (h - 100) + "px";
		ss.item(1).style.height = (h - 130) + "px";
		console.log("页面可见高度" + h)
	}
</script>
<!--顶部导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="关键词搜索">
				</div> &nbsp;
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
			<!--<p class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>-->
			<p class="navbar-text navbar-left">Who 动态建模系统 </p>

			<ul class="nav navbar-nav navbar-right">
				<!-- 我的菜单 -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					   aria-expanded="false"><span id="userName"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li th:each="menu : ${session.systemMenu}"><a th:href="'#'+${menu.id}" th:text="${menu.name}"></a></li>
						<li role="separator" class="divider"></li>
						<li><a href="javascript:logoutShow()">退出登录</a></li>
					</ul>
				</li>
				<!--<li id=""><a href="/login">未登录，点击登录。</a></li>-->
			</ul>
		</div>
	</div>
</nav>
<!--主体-->
<div class="container-fluid">
	<div class="row">
		<!--左侧菜单栏 menu-->
		<div class="col-lg-2 clarePd">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="/left.html" scrolling="no"></iframe>
			</div>
		</div>
		<!--右侧-->
		<div class="col-lg-10 right-a clarePd">
			<!--tab-->
			<div class="row">
				<ul class="nav nav-tabs tab-v col-lg-12 col-md-12 col-sm-12" role="tablist">
				</ul>
			</div>
			<div class="row">
				<div class="embed-responsive embed-responsive-16by9  col-lg-12 col-md-12 col-sm-12" id="right">
					<!--<iframe class='embed-responsive-item' id="myFrameName" src="http://www.baidu.com"-->
							<!--scrolling="no"></iframe>-->
					<div class="tab-content" style="width:100%;">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row bottom ">
		<div class=" col-lg-12 ">
			<h6 class="text-center"> 备案号：沪A3307SSOC@2020 - Who Dynamic modeling system</h6>
		</div>
	</div>
</div>

<!-- 模态框（Modal） 拥有确定和取消按钮-->
<div class="modal fade bs-example-modal-sm" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<p class="modal-title" id="myModalLabel">消息提醒</p>
			</div>
			<div class="modal-body">确定要退出登录吗？</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="logout()">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</body>
<script>
	var tabIndex = 0;
	$(function () {
		var index = location.href.indexOf('#');
		var href = location.href.substring(index + 1);
		// console.log("href="+href)
		// console.log("location.href.indexOf('#')="+location.href.indexOf('#'))
		if(index != -1){
			getMenu(href)
		}else{
			var item = {'id':tabIndex,'name':'首页','url':"/hello.html",'closable':true};
			closableTab.addTab(item);
		}
		$("#userName").html(sessionStorage.getItem("name"))

		// 监听url变化
		$(window).bind('hashchange', function () {
			var id = location.href.substring(location.href.indexOf('#') + 1)
			getMenu(id)
		})
	});

	function logoutShow() {
		$("#myModal1").modal('show');
	}

	function logout() {
		$("#myModal1").modal('hide');
		$.ajax({
			url: "/api/logout",
			type: "POST",
			dataType: "json",
			success: function (data) {
				console.log("退出")
				window.location.href = "/login.html";
			}
		})
	}

	function getMenu(id) {
		$.ajax({
			url: "/menu/getMenu/"+id,
			type: "POST",
			dataType: "json",
			success: function (data) {
				console.log(data)
				if(data.code == '1'){
					console.log(window.location.href)
					window.location.href = "#"+data.result.id
					var item = {'id':id,'name':data.result.name,'url':data.result.action,'closable':true};
					closableTab.addTab(item);
				}

			}
		})
	}
	function getDm(id,name,displayName) {
		// window.location.href = "/index.html#"+id
		var item = {'id':id,'name':displayName+'('+name+')','url':'/table.html?id='+id,'closable':true};
		closableTab.addTab(item);
	}


</script>
</html>