* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	list-style: none;
}
.contextmenu {
	display: none;
	position: absolute;
	width: 100px;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;
	z-index: 99;
	border: 1px #DDDDDD solid;
}

.contextmenu li {
	/*border-left: 3px solid transparent;*/
	transition: ease 0.3s;
	border-bottom: 1px #DDDDDD solid;
}

.contextmenu li:hover {
	background: #DDDDDD;
	border-left: 3px solid #DDDDDD;
}

.contextmenu li a {
	display: block;
	padding: 5px;
	color: #000000;
	text-decoration: none;
	transition: ease 0.3s;
}

.contextmenu li:hover a {
	color: #000000;
}