<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/user.html" id="search">
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-lg-2 col-sm-12 col-md-3">
				<input type="text" name="name" class="form-control" placeholder="用户名/手机号/ID">
				<input type="hidden" id="pageNo" name="pageNo"  th:value="${session.pageNo}">
				<input type="hidden" id="pageSize" name="pageSize" th:value="${session.pageSize}">
			</div>
			<div class="col-lg-2 col-sm-12 col-md-4">
				<input type="submit" value="查询" class="btn btn-default">
			</div>
		</div>

		<table class="table table-hover">
			<tr>
				<th>姓名</th>
				<th>性别</th>
				<th>年龄</th>
				<th>手机号</th>
				<th>角色</th>
			</tr>
			<tr th:if="${session.userSize} == 0">
				<td colspan="5" class="text-center">暂无数据</td>
			</tr>
			<tr class="" th:each="user : ${session.users}">
				<td><p th:text="${user.name}"></p></td>
				<td><p th:text="${user.gender}"></p></td>
				<td><p th:text="${user.age}"></p></td>
				<td><p th:text="${user.phone}"></p></td>
				<td>
					<span th:each="role : ${user.roles}" th:text="${role.name}+'、'"></span>
				</td>
			</tr>
			<tr>
				<!--<td class="text-center" colspan="3"  th:text="''+${session.count}+' 当前第：'+${session.pageNo}+'页'"></td>-->
			</tr>
		</table>
		<hr>
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<p th:text="'共'+${session.pageCount}+'页'+${session.count}+'条'"></p>
				<p th:text="'当前页显示：'+${session.userSize}+'条'"></p>
			</div>

			<div class="col-md-4 col-sm-offset-0 col-md-offset-4">
				<!--分页控件，可复用-->
				<nav aria-label="Page navigation ">
					<ul class="pagination">
						<li th:if="${session.pageNo} gt 1" id="prev">
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li name="page" th:if="${session.pageNo} > 4"><a href="#" value="1" >1</a></li>
						<li th:if="${session.pageNo} > 5"><a >....</a></li>

						<li name="page" th:each ="num : ${session.pageArr}" th:classappend="${session.pageNo} == ${num}?'active':''"><a href="#"  th:value="${num}" th:text="${num}" ></a></li>

						<li th:if="${session.pageNo} < ${session.pageCount}-3"><a >....</a></li>
						<li name="page" th:if="${session.pageNo} < ${session.pageCount}-2"><a href="#" th:value="${session.pageCount}" th:text="${session.pageCount}"></a></li>

						<li th:if="${session.pageNo} lt ${session.pageCount}" id="next" >
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</form>
</body>
<script>
	// 分页控件
	$(function () {
		$("[name='page']").on("click",'a',function () {
			$("#pageNo").val($(this).attr("value"))
			$("#search").submit()
		})

		$("#prev").click(function () {
			var pageNo = $("#pageNo").val()-1
			$("#pageNo").val(pageNo)
			$("#search").submit()
		})
		$("#next").click(function () {
			var pageNo = Number($("#pageNo").val())+1
			$("#pageNo").val(pageNo)
			$("#search").submit()
		})
	})
</script>
</html>